pipeline/ContactCenter Migration.json
{
	"name": "ContactCenter Migration",
	"properties": {
		"activities": [
			{
				"name": "RetrieveRecords",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[legacyMigration_GetAccountStagingBySequence]",
						"storedProcedureParameters": {
							"EndSequence": {
								"type": "Int32",
								"value": {
									"value": "@variables('EndSequence')",
									"type": "Expression"
								}
							},
							"StartSequence": {
								"type": "Int32",
								"value": {
									"value": "@variables('StartSequence')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"isolationLevel": "Snapshot",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQL_AccountStaging",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "RetrieveRecords",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('RetrieveRecords').output.value",
						"type": "Expression"
					},
					"batchCount": 50,
					"activities": [
						{
							"name": "SQLtoDV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat ( \n    'SELECT * FROM Account \n    WHERE AccountId == ', item().AccountId)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "CommonDataServiceForAppsSink",
									"writeBatchSize": 10,
									"writeBehavior": "upsert"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "AccountId",
												"type": "uniqueidentifier"
											},
											"sink": {
												"name": "new_sourceid"
											}
										},
										{
											"source": {
												"name": "AccountNumber",
												"type": "nvarchar"
											},
											"sink": {
												"name": "accountnumber"
											}
										},
										{
											"source": {
												"name": "Name",
												"type": "nvarchar"
											},
											"sink": {
												"name": "name"
											}
										},
										{
											"source": {
												"name": "Telephone1",
												"type": "nvarchar"
											},
											"sink": {
												"name": "telephone1"
											}
										},
										{
											"source": {
												"name": "EmailAddress1",
												"type": "nvarchar"
											},
											"sink": {
												"name": "emailaddress1"
											}
										},
										{
											"source": {
												"name": "Address1_City",
												"type": "nvarchar"
											},
											"sink": {
												"name": "address1_city"
											}
										},
										{
											"source": {
												"name": "Address1_State",
												"type": "nvarchar"
											},
											"sink": {
												"name": "address1_state"
											}
										},
										{
											"source": {
												"name": "Address1_PostCode",
												"type": "nvarchar"
											},
											"sink": {
												"name": "address1_postcode"
											}
										},
										{
											"source": {
												"name": "CreatedOn",
												"type": "datetime"
											},
											"sink": {
												"name": "createdon"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_Account",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_DV_Account_App1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"workItems": {
				"type": "array",
				"defaultValue": [
					"sourceTable",
					"targetEntity",
					"partitionColumn",
					"minValue",
					"maxValue",
					"ranges"
				]
			},
			"dvDatasets": {
				"type": "array",
				"defaultValue": [
					"DS_DV_Account_App1",
					"DS_DV_Account_App2",
					"DS_DV_Account_App3",
					"DS_DV_Account_App4",
					"DS_DV_Account_App5"
				]
			},
			"foreachBatchCount": {
				"type": "int",
				"defaultValue": 500
			},
			"accountId": {
				"type": "string"
			}
		},
		"variables": {
			"StartSequence": {
				"type": "Integer",
				"defaultValue": 1
			},
			"EndSequence": {
				"type": "Integer",
				"defaultValue": 500
			},
			"CurrentRecordCount": {
				"type": "Integer"
			},
			"RecordBatch": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-19T19:15:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}