pipeline/CreateMultiple - Contact Center Migration.json
{
	"name": "CreateMultiple - Contact Center Migration",
	"properties": {
		"activities": [
			{
				"name": "Set_ClaimRunId",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "claimRunId",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sp_ClaimAccountStagingBatch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set_ClaimRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('EXEC dbo.sp_ClaimAccountStagingBatch @BatchSize = ', string(pipeline().parameters.batchSize), ', @ClaimRunId = ''', variables('claimRunId'), ''';')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LegacyContact_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false,
					"query": {
						"value": "@concat('EXEC dbo.sp_ClaimAccountStagingBatch @BatchSize = ', pipeline().parameters.batchSize, ', @ClaimRunId = ''', variables('claimRunId'), ''';')",
						"type": "Expression"
					}
				},
				"dataset": {
					"referenceName": "DS_SQL_Account",
					"type": "DatasetReference"
				}
			},
			{
				"name": "If_Records_PrepareTargets",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "sp_ClaimAccountStagingBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('sp_ClaimAccountStagingBatch').output.value), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set_Targets_Array_Empty",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "targets",
								"value": {
									"value": "@json('[]')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "usp_GetAccountTargetsForClaim",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'EXEC dbo.usp_GetAccountTargetsForClaim @ClaimRunId = ''',\n    variables('claimRunId'),\n    ''', @TopRows = ',\n    string(pipeline().parameters.batchSize),\n    ';'\n)\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_LegacyContact_SQL",
									"type": "DatasetReference"
								},
								"firstRowOnly": true,
								"query": {
									"value": "@concat('EXEC dbo.usp_GetAccountTargetsForClaim @ClaimRunId = ''', variables('claimRunId'), ''';')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DS_SQL_Account",
								"type": "DatasetReference"
							}
						},
						{
							"name": "Set_Targets_Array",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "usp_GetAccountTargetsForClaim",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "targets",
								"value": {
									"value": "@json(activity('usp_GetAccountTargetsForClaim').output.firstRow.targets_json)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach_Batches",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If_Records_PrepareTargets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(\n  0,\n  div(add(add(length(variables('targets')),pipeline().parameters.perRequest), -1), pipeline().parameters.perRequest))",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "CreateMultiple_Batch1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"OData-MaxVersion": "4.0",
									"OData-Version": "4.0",
									"Accept": "application/json",
									"Content-Type": "application/json; charset=utf-8",
									"MSCRM.BypassBusinessLogicExecution": "CustomSync, CustomAsync",
									"MSCRM.SuppressCallbackRegistrationExpanderJob": "true"
								},
								"url": {
									"value": "@{concat(pipeline().parameters.dataverseBaseUrl,'/api/data/v9.2/', pipeline().parameters.entitySetName, '/Microsoft.Dynamics.CRM.CreateMultiple')}",
									"type": "Expression"
								},
								"body": {
									"value": "@json(concat('{\"Targets\":', string(take(skip(variables('targets'), mul(pipeline().parameters.perRequest, item())), pipeline().parameters.perRequest)), '}'))",
									"type": "Expression"
								},
								"authentication": {
									"resource": "https://dataversedoctor.crm.dynamics.com",
									"credential": {
										"referenceName": "DataverseDoctor_jowells_Identity1",
										"type": "CredentialReference"
									},
									"type": "UserAssignedManagedIdentity"
								}
							}
						}
					]
				}
			},
			{
				"name": "If_HadWork_Finalize",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ForEach_Batches",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(variables('targets')), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Success_FinalizeAccountStagingForClaim",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim @ClaimRunId=''', variables('claimRunId'), ''', @NewStatus=''Completed'';')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_LegacyContact_SQL",
									"type": "DatasetReference"
								},
								"firstRowOnly": true,
								"query": {
									"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim @ClaimRunId=''', variables('claimRunId'), ''', @NewStatus=''Completed'';')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DS_SQL_Account",
								"type": "DatasetReference"
							}
						}
					]
				}
			},
			{
				"name": "Fail_FinalizeAccountStagingForClaim",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach_Batches",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim @ClaimRunId=''', variables('claimRunId'), ''', @NewStatus=''Failed'';')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LegacyContact_SQL",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"dataverseBaseUrl": {
				"type": "String",
				"defaultValue": "https://dataversedoctor.crm.dynamics.com"
			},
			"entitySetName": {
				"type": "String",
				"defaultValue": "accounts"
			},
			"batchSize": {
				"type": "Int",
				"defaultValue": 5000
			},
			"perRequest": {
				"type": "Int",
				"defaultValue": 100
			}
		},
		"variables": {
			"claimRunId": {
				"type": "String"
			},
			"targets": {
				"type": "Array"
			}
		},
		"annotations": [
			"Claims 500 pending rows, builds Targets JSON, posts to Dataverse CreateMultiple in 100-row chunks, finalizes status."
		],
		"lastPublishTime": "2025-08-21T19:51:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}