pipeline/cWebActivity - CCM - distributeClaims.json
{
	"name": "cWebActivity - CCM - distributeClaims",
	"properties": {
		"description": "Takes an array of targets, shards into perRequest batches, dispatches to identity pipelines via Switch, then finalizes status per batch.",
		"activities": [
			{
				"name": "ForEach_Batches",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(\n  0,\n  div(add(add(length(pipeline().parameters.targets),pipeline().parameters.perRequest), -1), pipeline().parameters.perRequest))",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Switch_Identity",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@string(mod(item(), 3))",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "1",
										"activities": [
											{
												"name": "Exec_dvOperation_Identity1",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "cWebActivity - CCM - dvOperationIdentity2",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false,
													"parameters": {
														"body": {
															"value": "@json(concat('{\"Targets\":', string(take(skip(pipeline().parameters.targets, mul(pipeline().parameters.perRequest, item())), pipeline().parameters.perRequest)), '}'))",
															"type": "Expression"
														},
														"timeout": "0.00:05:00",
														"dataverseBaseUrl": {
															"value": "@pipeline().parameters.dataverseBaseUrl",
															"type": "Expression"
														},
														"entitySetName": {
															"value": "@pipeline().parameters.entitySetName",
															"type": "Expression"
														},
														"MSCRMBypassBusinessLogicExecution": {
															"value": "@pipeline().parameters.MSCRM_BypassBusinessLogicExecution",
															"type": "Expression"
														},
														"MSCRMSuppressCallbackRegistrationExpanderJob": {
															"value": "@pipeline().parameters.MSCRM_SuppressCallbackRegistrationExpanderJob",
															"type": "Expression"
														},
														"dvOperation": {
															"value": "@pipeline().parameters.dvOperation",
															"type": "Expression"
														},
														"claimRunId": {
															"value": "@pipeline().parameters.claimRunId",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Success_FinalizeAccountStagingForClaim_Id1",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Exec_dvOperation_Identity1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim ClaimRunId=''', pipeline().parameters.claimRunId, ''', NewStatus=''Success'';')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LegacyContact_SQL",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "Fail_FinalizeAccountStagingForClaim_Id1",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Exec_dvOperation_Identity1",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim ClaimRunId=''', pipeline().parameters.claimRunId, ''', NewStatus=''Failed'';')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LegacyContact_SQL",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "2",
										"activities": [
											{
												"name": "Exec_dvOperation_Identity2",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "cWebActivity - CCM - dvOperationIdentity3",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false,
													"parameters": {
														"body": {
															"value": "@json(concat('{\"Targets\":', string(take(skip(pipeline().parameters.targets, mul(pipeline().parameters.perRequest, item())), pipeline().parameters.perRequest)), '}'))",
															"type": "Expression"
														},
														"timeout": "0.00:05:00",
														"dataverseBaseUrl": {
															"value": "@pipeline().parameters.dataverseBaseUrl",
															"type": "Expression"
														},
														"entitySetName": {
															"value": "@pipeline().parameters.entitySetName",
															"type": "Expression"
														},
														"MSCRMBypassBusinessLogicExecution": {
															"value": "@pipeline().parameters.MSCRM_BypassBusinessLogicExecution",
															"type": "Expression"
														},
														"MSCRMSuppressCallbackRegistrationExpanderJob": {
															"value": "@pipeline().parameters.MSCRM_SuppressCallbackRegistrationExpanderJob",
															"type": "Expression"
														},
														"dvOperation": {
															"value": "@pipeline().parameters.dvOperation",
															"type": "Expression"
														},
														"claimRunId": {
															"value": "@pipeline().parameters.claimRunId",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Success_FinalizeAccountStagingForClaim_Id2",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Exec_dvOperation_Identity2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim ClaimRunId=''', pipeline().parameters.claimRunId, ''', NewStatus=''Success'';')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LegacyContact_SQL",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "Fail_FinalizeAccountStagingForClaim_Id2",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Exec_dvOperation_Identity2",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim ClaimRunId=''', pipeline().parameters.claimRunId, ''', NewStatus=''Failed'';')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LegacyContact_SQL",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "0",
										"activities": [
											{
												"name": "Exec_dvOperation_Identity0",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "cWebActivity - CCM - dvOperationIdentity1",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false,
													"parameters": {
														"body": {
															"value": "@json(concat('{\"Targets\":', string(take(skip(pipeline().parameters.targets, mul(pipeline().parameters.perRequest, item())), pipeline().parameters.perRequest)), '}'))",
															"type": "Expression"
														},
														"timeout": "0.00:05:00",
														"dataverseBaseUrl": {
															"value": "@pipeline().parameters.dataverseBaseUrl",
															"type": "Expression"
														},
														"entitySetName": {
															"value": "@pipeline().parameters.entitySetName",
															"type": "Expression"
														},
														"MSCRMBypassBusinessLogicExecution": {
															"value": "@pipeline().parameters.MSCRM_BypassBusinessLogicExecution",
															"type": "Expression"
														},
														"MSCRMSuppressCallbackRegistrationExpanderJob": {
															"value": "@pipeline().parameters.MSCRM_SuppressCallbackRegistrationExpanderJob",
															"type": "Expression"
														},
														"dvOperation": {
															"value": "@pipeline().parameters.dvOperation",
															"type": "Expression"
														},
														"claimRunId": {
															"value": "@pipeline().parameters.claimRunId",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Success_FinalizeAccountStagingForClaim_Id0",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Exec_dvOperation_Identity0",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim ClaimRunId=''', pipeline().parameters.claimRunId, ''', NewStatus=''Success'';')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LegacyContact_SQL",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "Fail_FinalizeAccountStagingForClaim_Id0",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Exec_dvOperation_Identity0",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim ClaimRunId=''', pipeline().parameters.claimRunId, ''', NewStatus=''Failed'';')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LegacyContact_SQL",
														"type": "DatasetReference"
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Exec_dvOperation_Identity",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "cWebActivity - CCM - dvOperationIdentity1",
												"type": "PipelineReference"
											},
											"waitOnCompletion": false,
											"parameters": {
												"body": {
													"value": "@json(concat('{\"Targets\":', string(take(skip(pipeline().parameters.targets, mul(pipeline().parameters.perRequest, item())), pipeline().parameters.perRequest)), '}'))",
													"type": "Expression"
												},
												"timeout": "0.00:05:00",
												"dataverseBaseUrl": {
													"value": "@pipeline().parameters.dataverseBaseUrl",
													"type": "Expression"
												},
												"entitySetName": {
													"value": "@pipeline().parameters.entitySetName",
													"type": "Expression"
												},
												"MSCRMBypassBusinessLogicExecution": {
													"value": "@pipeline().parameters.MSCRM_BypassBusinessLogicExecution",
													"type": "Expression"
												},
												"MSCRMSuppressCallbackRegistrationExpanderJob": {
													"value": "@pipeline().parameters.MSCRM_SuppressCallbackRegistrationExpanderJob",
													"type": "Expression"
												},
												"dvOperation": {
													"value": "@pipeline().parameters.dvOperation",
													"type": "Expression"
												},
												"claimRunId": {
													"value": "@pipeline().parameters.claimRunId",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Success_FinalizeAccountStagingForClaim_Id",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Exec_dvOperation_Identity",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim ClaimRunId=''', pipeline().parameters.claimRunId, ''', NewStatus=''Success'';')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_LegacyContact_SQL",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Fail_FinalizeAccountStagingForClaim_Id",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Exec_dvOperation_Identity",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim ClaimRunId=''', pipeline().parameters.claimRunId, ''', NewStatus=''Failed'';')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_LegacyContact_SQL",
												"type": "DatasetReference"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"targets": {
				"type": "Array"
			},
			"perRequest": {
				"type": "Int",
				"defaultValue": 1000
			},
			"dataverseBaseUrl": {
				"type": "String"
			},
			"entitySetName": {
				"type": "String"
			},
			"dvOperation": {
				"type": "String",
				"defaultValue": "Microsoft.Dynamics.CRM.CreateMultiple"
			},
			"claimRunId": {
				"type": "String"
			},
			"MSCRM_BypassBusinessLogicExecution": {
				"type": "string"
			},
			"MSCRM_SuppressCallbackRegistrationExpanderJob": {
				"type": "string"
			}
		},
		"annotations": [
			"Child pipeline used by parent Until loop. Shards 'targets' and calls identity pipelines 0/1/2; finalizes each shard as Success/Failed."
		],
		"lastPublishTime": "2025-08-22T18:26:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}