pipeline/WebActivity - Contact Center Migration_v2.json
{
	"name": "WebActivity - Contact Center Migration_v2",
	"properties": {
		"activities": [
			{
				"name": "Lookup_TotalCount_Pending",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS totalCount FROM dbo.AccountStaging WHERE Status = 'Pending';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LegacyContact_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set_totalCount",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_TotalCount_Pending",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "totalCount",
					"value": {
						"value": "@int(activity('Lookup_TotalCount_Pending').output.firstRow.totalCount)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_RemainingCount_int",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_totalCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "remainingCount",
					"value": {
						"value": "@variables('totalCount')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until_AllClaimedAndProcessed",
				"description": "",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set_RemainingCount_int",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('remainingCount'), 0)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set_ClaimRunId",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "claimRunId",
								"value": {
									"value": "@guid()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "sp_ClaimAccountStagingBatch",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set_ClaimRunId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('EXEC dbo.sp_ClaimAccountStagingBatch @BatchSize = ', string(pipeline().parameters.batchSize), ', @ClaimRunId = ''', variables('claimRunId'), ''';')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_LegacyContact_SQL",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "If_Records_PrepareTargets",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "sp_ClaimAccountStagingBatch",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(activity('sp_ClaimAccountStagingBatch').output.value), 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set_Targets_Array_Empty",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "targets",
											"value": [
												"@json('[]')"
											]
										}
									},
									{
										"name": "Set_RemainingCount_ToZero",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set_Targets_Array_Empty",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "remainingCount",
											"value": {
												"value": "@int('0')",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "usp_GetAccountTargetsForClaim",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(\n    'EXEC dbo.usp_GetAccountTargetsForClaim @ClaimRunId = ''',\n    variables('claimRunId'),\n    ''', @TopRows = ',\n    string(pipeline().parameters.batchSize),\n    ';'\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_LegacyContact_SQL",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Set_Targets_Array",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "usp_GetAccountTargetsForClaim",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "targets",
											"value": {
												"value": "@json(activity('usp_GetAccountTargetsForClaim').output.firstRow.targets_json)",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Get_RemainingCount_Pending",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Execute_distributeClaims",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT COUNT(*) AS remainingCount FROM dbo.AccountStaging WHERE Status = 'Pending';",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_LegacyContact_SQL",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Set_RemainingCount",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get_RemainingCount_Pending",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "remainingCount",
								"value": {
									"value": "@int(activity('Get_RemainingCount_Pending').output.firstRow.remainingCount)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute_distributeClaims",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "If_Records_PrepareTargets",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "cWebActivity - CCM - distributeClaims",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"targets": {
										"value": "@variables('targets')",
										"type": "Expression"
									},
									"perRequest": {
										"value": "@pipeline().parameters.batchSize",
										"type": "Expression"
									},
									"dataverseBaseUrl": {
										"value": "@pipeline().parameters.dataverseBaseUrl",
										"type": "Expression"
									},
									"entitySetName": {
										"value": "@pipeline().parameters.entitySetName",
										"type": "Expression"
									},
									"dvOperation": {
										"value": "@pipeline().parameters.dvOperation",
										"type": "Expression"
									},
									"claimRunId": {
										"value": "@variables('claimRunId')",
										"type": "Expression"
									},
									"MSCRM_BypassBusinessLogicExecution": {
										"value": "@pipeline().parameters.MSCRM_BypassBusinessLogicExecution",
										"type": "Expression"
									},
									"MSCRM_SuppressCallbackRegistrationExpanderJob": {
										"value": "@pipeline().parameters.MSCRM_SuppressCallbackRegistrationExpanderJob",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Execute_distributeClaims",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('Execute_distributeClaims').output",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						}
					],
					"timeout": "0.00:05:00"
				}
			}
		],
		"parameters": {
			"dataverseBaseUrl": {
				"type": "String",
				"defaultValue": "https://dataversedoctor.crm.dynamics.com"
			},
			"entitySetName": {
				"type": "String",
				"defaultValue": "accounts"
			},
			"batchSize": {
				"type": "Int",
				"defaultValue": 1000
			},
			"perRequest": {
				"type": "Int",
				"defaultValue": 100
			},
			"dvOperation": {
				"type": "string",
				"defaultValue": "Microsoft.Dynamics.CRM.CreateMultiple"
			},
			"numberOfChildPipe": {
				"type": "int",
				"defaultValue": 3
			},
			"MSCRM_BypassBusinessLogicExecution": {
				"type": "string",
				"defaultValue": "CustomSync, CustomAsync"
			},
			"MSCRM_SuppressCallbackRegistrationExpanderJob": {
				"type": "string",
				"defaultValue": "true"
			}
		},
		"variables": {
			"claimRunId": {
				"type": "String"
			},
			"targets": {
				"type": "Array"
			},
			"totalCount": {
				"type": "Integer"
			},
			"remainingCount": {
				"type": "Integer"
			},
			"MSCRM_BypassBusinessLogicExecution": {
				"type": "String"
			},
			"MSCRM_SuppressCallbackRegistrationExpanderJob": {
				"type": "String"
			},
			"lastClaimedCount": {
				"type": "Integer"
			}
		},
		"annotations": [
			"Claims 500 pending rows, builds Targets JSON, posts to Dataverse CreateMultiple in 100-row chunks, finalizes status."
		],
		"lastPublishTime": "2025-08-22T20:18:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}