pipeline/WebActivity - Contact Center Migration_vCopyData.json
{
	"name": "WebActivity - Contact Center Migration_vCopyData",
	"properties": {
		"activities": [
			{
				"name": "Lookup_TotalCount_Pending",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS totalCount FROM dbo.AccountStaging WHERE Status = 'Pending';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LegacyContact_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set_totalCount",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_TotalCount_Pending",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "totalCount",
					"value": {
						"value": "@int(activity('Lookup_TotalCount_Pending').output.firstRow.totalCount)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_RemainingCount_int",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set_totalCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "remainingCount",
					"value": {
						"value": "@variables('totalCount')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until_AllClaimedAndProcessed",
				"description": "",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set_RemainingCount_int",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('remainingCount'), 0)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set_ClaimRunId",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "claimRunId",
								"value": {
									"value": "@guid()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "sp_ClaimAccountStagingBatch",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set_ClaimRunId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('EXEC dbo.sp_ClaimAccountStagingBatch @BatchSize = ', string(pipeline().parameters.batchSize), ', @ClaimRunId = ''', variables('claimRunId'), ''';')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_LegacyContact_SQL",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "If_Records_PrepareTargets",
							"type": "IfCondition",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "sp_ClaimAccountStagingBatch",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(activity('sp_ClaimAccountStagingBatch').output.value), 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set_Targets_Array_Empty",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "targets",
											"value": [
												"@json('[]')"
											]
										}
									},
									{
										"name": "Set_RemainingCount_ToZero",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set_Targets_Array_Empty",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "remainingCount",
											"value": {
												"value": "@int('0')",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "usp_GetAccountTargetsForClaim",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(\n    'EXEC dbo.usp_GetAccountTargetsForClaim @ClaimRunId = ''',\n    variables('claimRunId'),\n    ''', @TopRows = ',\n    string(pipeline().parameters.batchSize),\n    ';'\n)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_LegacyContact_SQL",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Set_Targets_Array",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "usp_GetAccountTargetsForClaim",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "targets",
											"value": {
												"value": "@json(activity('usp_GetAccountTargetsForClaim').output.firstRow.targets_json)",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Get_RemainingCount_Pending",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "CopyData-WebActivity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT COUNT(*) AS remainingCount FROM dbo.AccountStaging WHERE Status = 'Pending';",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_LegacyContact_SQL",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Set_RemainingCount",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get_RemainingCount_Pending",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "remainingCount",
								"value": {
									"value": "@int(activity('Get_RemainingCount_Pending').output.firstRow.remainingCount)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "CopyData-WebActivity",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@activity('CopyData-WebActivity').output",
									"type": "Expression"
								},
								"errorCode": "500"
							}
						},
						{
							"name": "Set_RemainingCount_ErrorZero",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Fail1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "remainingCount",
								"value": {
									"value": "@int('0')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CopyData-WebActivity",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "If_Records_PrepareTargets",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'EXEC dbo.usp_GetAccountTargetsForClaimNonJson @ClaimRunId = ''',\n    variables('claimRunId'),\n    ''', @TopRows = ',\n    string(pipeline().parameters.batchSize),\n    ';'\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None"
								},
								"sink": {
									"type": "CommonDataServiceForAppsSink",
									"writeBatchSize": 10,
									"writeBehavior": "upsert",
									"ignoreNullValues": false,
									"maxConcurrentConnections": 200,
									"bypassBusinessLogicExecution": "CustomSync,CustomAsync",
									"bypassPowerAutomateFlows": true
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "AccountId",
												"type": "Guid",
												"physicalType": "uniqueidentifier"
											},
											"sink": {
												"name": "accountid",
												"type": "Guid"
											}
										},
										{
											"source": {
												"name": "AccountNumber",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "accountnumber",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Address1_City",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "address1_city",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_county",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_fax",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_freighttermscode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "address1_latitude",
												"type": "Double"
											}
										},
										{
											"sink": {
												"name": "address1_line1",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_line2",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_line3",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_longitude",
												"type": "Double"
											}
										},
										{
											"sink": {
												"name": "address1_name",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_postalcode",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_postofficebox",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_primarycontactname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_shippingmethodcode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "address1_stateorprovince",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_telephone1",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_telephone2",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_telephone3",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_upszone",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address1_utcoffset",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "address2_addressid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "address2_addresstypecode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "address2_city",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_composite",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_country",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_county",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_fax",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_freighttermscode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "address2_latitude",
												"type": "Double"
											}
										},
										{
											"sink": {
												"name": "address2_line1",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_line2",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_line3",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_longitude",
												"type": "Double"
											}
										},
										{
											"sink": {
												"name": "address2_name",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_postalcode",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_postofficebox",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_primarycontactname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_shippingmethodcode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "address2_stateorprovince",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_telephone1",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_telephone2",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_telephone3",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_upszone",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "address2_utcoffset",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "adx_createdbyipaddress",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "adx_createdbyusername",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "adx_modifiedbyipaddress",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "adx_modifiedbyusername",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "aging30",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "aging30_base",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "aging60",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "aging60_base",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "aging90",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "aging90_base",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "businesstypecode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "createdby",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "createdbyexternalparty",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "createdbyexternalpartyname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "createdbyexternalpartyyominame",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "createdbyname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "createdbyyominame",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "CreatedOn",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "createdon",
												"type": "DateTime"
											}
										},
										{
											"sink": {
												"name": "createdonbehalfby",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "createdonbehalfbyname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "createdonbehalfbyyominame",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "creditlimit",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "creditlimit_base",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "creditonhold",
												"type": "Boolean"
											}
										},
										{
											"sink": {
												"name": "customersizecode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "customertypecode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "defaultpricelevelid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "defaultpricelevelidname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "description",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "donotbulkemail",
												"type": "Boolean"
											}
										},
										{
											"sink": {
												"name": "donotbulkpostalmail",
												"type": "Boolean"
											}
										},
										{
											"sink": {
												"name": "donotemail",
												"type": "Boolean"
											}
										},
										{
											"sink": {
												"name": "donotfax",
												"type": "Boolean"
											}
										},
										{
											"sink": {
												"name": "donotphone",
												"type": "Boolean"
											}
										},
										{
											"sink": {
												"name": "donotpostalmail",
												"type": "Boolean"
											}
										},
										{
											"sink": {
												"name": "donotsendmm",
												"type": "Boolean"
											}
										},
										{
											"source": {
												"name": "EmailAddress1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "emailaddress1",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "emailaddress2",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "emailaddress3",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "entityimage_timestamp",
												"type": "Int64"
											}
										},
										{
											"sink": {
												"name": "entityimage_url",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "entityimageid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "exchangerate",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "fax",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "followemail",
												"type": "Boolean"
											}
										},
										{
											"sink": {
												"name": "ftpsiteurl",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "importsequencenumber",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "industrycode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "isprivate",
												"type": "Boolean"
											}
										},
										{
											"sink": {
												"name": "lastonholdtime",
												"type": "DateTime"
											}
										},
										{
											"sink": {
												"name": "lastusedincampaign",
												"type": "DateTime"
											}
										},
										{
											"sink": {
												"name": "marketcap",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "marketcap_base",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "marketingonly",
												"type": "Boolean"
											}
										},
										{
											"sink": {
												"name": "masteraccountidname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "masteraccountidyominame",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "masterid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "merged",
												"type": "Boolean"
											}
										},
										{
											"sink": {
												"name": "modifiedby",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "modifiedbyexternalparty",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "modifiedbyexternalpartyname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "modifiedbyexternalpartyyominame",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "modifiedbyname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "modifiedbyyominame",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "modifiedon",
												"type": "DateTime"
											}
										},
										{
											"sink": {
												"name": "modifiedonbehalfby",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "modifiedonbehalfbyname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "modifiedonbehalfbyyominame",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "msa_managingpartnerid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "msa_managingpartneridname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "msa_managingpartneridyominame",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "msdyn_accountkpiid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "msdyn_accountkpiidname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "msdyn_gdproptout",
												"type": "Boolean"
											}
										},
										{
											"sink": {
												"name": "msdyn_primarytimezone",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "msdyn_salesaccelerationinsightid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "msdyn_salesaccelerationinsightidname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "msdyn_segmentid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "msdyn_segmentidname",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "Name",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "name",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "new_sourceid",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "numberofemployees",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "onholdtime",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "opendeals",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "opendeals_date",
												"type": "DateTime"
											}
										},
										{
											"sink": {
												"name": "opendeals_state",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "openrevenue",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "openrevenue_base",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "openrevenue_date",
												"type": "DateTime"
											}
										},
										{
											"sink": {
												"name": "openrevenue_state",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "originatingleadid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "originatingleadidname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "originatingleadidyominame",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "overriddencreatedon",
												"type": "DateTime"
											}
										},
										{
											"sink": {
												"name": "ownerid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "owneridname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "owneridtype",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "owneridyominame",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "ownershipcode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "owningbusinessunit",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "owningbusinessunitname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "owningteam",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "owninguser",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "parentaccountid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "parentaccountidname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "parentaccountidyominame",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "participatesinworkflow",
												"type": "Boolean"
											}
										},
										{
											"sink": {
												"name": "paymenttermscode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "preferredappointmentdaycode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "preferredappointmenttimecode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "preferredcontactmethodcode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "preferredequipmentid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "preferredequipmentidname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "preferredserviceid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "preferredserviceidname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "preferredsystemuserid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "preferredsystemuseridname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "preferredsystemuseridyominame",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "primarycontactid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "primarycontactidname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "primarycontactidyominame",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "primarysatoriid",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "primarytwitterid",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "processid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "revenue",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "revenue_base",
												"type": "Decimal"
											}
										},
										{
											"sink": {
												"name": "sharesoutstanding",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "shippingmethodcode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "sic",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "slaid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "slainvokedid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "slainvokedidname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "slaname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "stageid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "statecode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "statuscode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "stockexchange",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "teamsfollowed",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "Telephone1",
												"type": "String",
												"physicalType": "nvarchar"
											},
											"sink": {
												"name": "telephone1",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "telephone2",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "telephone3",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "territorycode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "territoryid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "territoryidname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "tickersymbol",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "timespentbymeonemailandmeetings",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "timezoneruleversionnumber",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "transactioncurrencyid",
												"type": "Guid"
											}
										},
										{
											"sink": {
												"name": "transactioncurrencyidname",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "traversedpath",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "utcconversiontimezonecode",
												"type": "Int32"
											}
										},
										{
											"sink": {
												"name": "versionnumber",
												"type": "Int64"
											}
										},
										{
											"sink": {
												"name": "websiteurl",
												"type": "String"
											}
										},
										{
											"sink": {
												"name": "yominame",
												"type": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_LegacyContact_SQL",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_DV_Account_App1",
									"type": "DatasetReference",
									"parameters": {
										"EntityLogicalName": {
											"value": "@pipeline().parameters.entitySetName",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"timeout": "0.01:00:00"
				}
			}
		],
		"parameters": {
			"dataverseBaseUrl": {
				"type": "String",
				"defaultValue": "https://dataversedoctor.crm.dynamics.com"
			},
			"entitySetName": {
				"type": "String",
				"defaultValue": "account"
			},
			"batchSize": {
				"type": "Int",
				"defaultValue": 3000
			},
			"perRequest": {
				"type": "Int",
				"defaultValue": 100
			},
			"dvOperation": {
				"type": "string",
				"defaultValue": "Microsoft.Dynamics.CRM.CreateMultiple"
			},
			"numberOfChildPipe": {
				"type": "int",
				"defaultValue": 1
			},
			"MSCRM_BypassBusinessLogicExecution": {
				"type": "string",
				"defaultValue": "CustomSync, CustomAsync"
			},
			"MSCRM_SuppressCallbackRegistrationExpanderJob": {
				"type": "string",
				"defaultValue": "true"
			}
		},
		"variables": {
			"claimRunId": {
				"type": "String"
			},
			"targets": {
				"type": "Array"
			},
			"totalCount": {
				"type": "Integer"
			},
			"remainingCount": {
				"type": "Integer"
			},
			"MSCRM_BypassBusinessLogicExecution": {
				"type": "String"
			},
			"MSCRM_SuppressCallbackRegistrationExpanderJob": {
				"type": "String"
			},
			"lastClaimedCount": {
				"type": "Integer"
			}
		},
		"annotations": [
			"Claims 500 pending rows, builds Targets JSON, posts to Dataverse CreateMultiple in 100-row chunks, finalizes status."
		],
		"lastPublishTime": "2025-08-22T20:18:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}