pipeline/WebActivity - Contact Center Migration.json
{
	"name": "WebActivity - Contact Center Migration",
	"properties": {
		"activities": [
			{
				"name": "Set_ClaimRunId",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "claimRunId",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sp_ClaimAccountStagingBatch",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set_ClaimRunId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('EXEC dbo.sp_ClaimAccountStagingBatch @BatchSize = ', string(pipeline().parameters.batchSize), ', @ClaimRunId = ''', variables('claimRunId'), ''';')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LegacyContact_SQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false,
					"query": {
						"value": "@concat('EXEC dbo.sp_ClaimAccountStagingBatch @BatchSize = ', pipeline().parameters.batchSize, ', @ClaimRunId = ''', variables('claimRunId'), ''';')",
						"type": "Expression"
					}
				},
				"dataset": {
					"referenceName": "DS_SQL_Account",
					"type": "DatasetReference"
				}
			},
			{
				"name": "If_Records_PrepareTargets",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "sp_ClaimAccountStagingBatch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('sp_ClaimAccountStagingBatch').output.value), 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set_Targets_Array_Empty",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "targets",
								"value": {
									"value": "@json('[]')",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "usp_GetAccountTargetsForClaim",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'EXEC dbo.usp_GetAccountTargetsForClaim @ClaimRunId = ''',\n    variables('claimRunId'),\n    ''', @TopRows = ',\n    string(pipeline().parameters.batchSize),\n    ';'\n)\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_LegacyContact_SQL",
									"type": "DatasetReference"
								},
								"firstRowOnly": true,
								"query": {
									"value": "@concat('EXEC dbo.usp_GetAccountTargetsForClaim @ClaimRunId = ''', variables('claimRunId'), ''';')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DS_SQL_Account",
								"type": "DatasetReference"
							}
						},
						{
							"name": "Set_Targets_Array",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "usp_GetAccountTargetsForClaim",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "targets",
								"value": {
									"value": "@json(activity('usp_GetAccountTargetsForClaim').output.firstRow.targets_json)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach_Batches",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "If_Records_PrepareTargets",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(\n  0,\n  div(add(add(length(variables('targets')),pipeline().parameters.perRequest), -1), pipeline().parameters.perRequest))",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Switch_Identity",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@string(mod(item(), 3))",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "1",
										"activities": [
											{
												"name": "Exec_dvOperation_Identity2",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "cWebActivity - CCM - dvOperationIdentity2",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false,
													"parameters": {
														"body": {
															"value": "@json(concat('{\"Targets\":', string(take(skip(variables('targets'), mul(pipeline().parameters.perRequest, item())), pipeline().parameters.perRequest)), '}'))",
															"type": "Expression"
														},
														"dataverseBaseUrl": {
															"value": "@pipeline().parameters.dataverseBaseUrl",
															"type": "Expression"
														},
														"entitySetName": {
															"value": "@pipeline().parameters.entitySetName",
															"type": "Expression"
														},
														"ODataMaxVersion": "4.0",
														"ODataVersion": "4.0",
														"Accept": "application/json",
														"ContentType": "application/json; charset=utf-8",
														"MSCRMBypassBusinessLogicExecution": {
															"value": "@pipeline().parameters.MSCRM_BypassBusinessLogicExecution",
															"type": "Expression"
														},
														"MSCRMSuppressCallbackRegistrationExpanderJob": {
															"value": "@pipeline().parameters.MSCRM_SuppressCallbackRegistrationExpanderJob",
															"type": "Expression"
														},
														"dvOperation": {
															"value": "@pipeline().parameters.dvOperation",
															"type": "Expression"
														},
														"claimRunId": {
															"value": "@variables('claimRunId')",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Success_FinalizeAccountStagingForClaim_Id2",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Exec_dvOperation_Identity2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim @ClaimRunId=''', variables('claimRunId'), ''', @NewStatus=''Success'';')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LegacyContact_SQL",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "Fail_FinalizeAccountStagingForClaim_Id2",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Exec_dvOperation_Identity2",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim @ClaimRunId=''', variables('claimRunId'), ''', @NewStatus=''Failed'';')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LegacyContact_SQL",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "2",
										"activities": [
											{
												"name": "Exec_dvOperation_Identity3",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "cWebActivity - CCM - dvOperationIdentity3",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false,
													"parameters": {
														"body": {
															"value": "@json(concat('{\"Targets\":', string(take(skip(variables('targets'), mul(pipeline().parameters.perRequest, item())), pipeline().parameters.perRequest)), '}'))",
															"type": "Expression"
														},
														"dataverseBaseUrl": {
															"value": "@pipeline().parameters.dataverseBaseUrl",
															"type": "Expression"
														},
														"entitySetName": {
															"value": "@pipeline().parameters.entitySetName",
															"type": "Expression"
														},
														"ODataMaxVersion": "4.0",
														"ODataVersion": "4.0",
														"Accept": "application/json",
														"ContentType": "application/json; charset=utf-8",
														"MSCRMBypassBusinessLogicExecution": {
															"value": "@pipeline().parameters.MSCRM_BypassBusinessLogicExecution",
															"type": "Expression"
														},
														"MSCRMSuppressCallbackRegistrationExpanderJob": {
															"value": "@pipeline().parameters.MSCRM_SuppressCallbackRegistrationExpanderJob",
															"type": "Expression"
														},
														"dvOperation": {
															"value": "@pipeline().parameters.dvOperation",
															"type": "Expression"
														},
														"claimRunId": {
															"value": "@variables('claimRunId')",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Success_FinalizeAccountStagingForClaim_Id3",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Exec_dvOperation_Identity3",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim @ClaimRunId=''', variables('claimRunId'), ''', @NewStatus=''Success'';')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LegacyContact_SQL",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "Fail_FinalizeAccountStagingForClaim_Id3",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Exec_dvOperation_Identity3",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim @ClaimRunId=''', variables('claimRunId'), ''', @NewStatus=''Failed'';')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LegacyContact_SQL",
														"type": "DatasetReference"
													}
												}
											}
										]
									},
									{
										"value": "0",
										"activities": [
											{
												"name": "Exec_dvOperation_Identity0",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "cWebActivity - CCM - dvOperationIdentity1",
														"type": "PipelineReference"
													},
													"waitOnCompletion": false,
													"parameters": {
														"body": {
															"value": "@json(concat('{\"Targets\":', string(take(skip(variables('targets'), mul(pipeline().parameters.perRequest, item())), pipeline().parameters.perRequest)), '}'))",
															"type": "Expression"
														},
														"dataverseBaseUrl": {
															"value": "@pipeline().parameters.dataverseBaseUrl",
															"type": "Expression"
														},
														"entitySetName": {
															"value": "@pipeline().parameters.entitySetName",
															"type": "Expression"
														},
														"ODataMaxVersion": "4.0",
														"ODataVersion": "4.0",
														"Accept": "application/json",
														"ContentType": "application/json; charset=utf-8",
														"MSCRMBypassBusinessLogicExecution": {
															"value": "@pipeline().parameters.MSCRM_BypassBusinessLogicExecution",
															"type": "Expression"
														},
														"MSCRMSuppressCallbackRegistrationExpanderJob": {
															"value": "@pipeline().parameters.MSCRM_SuppressCallbackRegistrationExpanderJob",
															"type": "Expression"
														},
														"dvOperation": {
															"value": "@pipeline().parameters.dvOperation",
															"type": "Expression"
														},
														"claimRunId": {
															"value": "@variables('claimRunId')",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Success_FinalizeAccountStagingForClaim_Id0",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Exec_dvOperation_Identity0",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim @ClaimRunId=''', variables('claimRunId'), ''', @NewStatus=''Success'';')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LegacyContact_SQL",
														"type": "DatasetReference"
													}
												}
											},
											{
												"name": "Fail_FinalizeAccountStagingForClaim_Id0",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Exec_dvOperation_Identity0",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim @ClaimRunId=''', variables('claimRunId'), ''', @NewStatus=''Failed'';')",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "DS_LegacyContact_SQL",
														"type": "DatasetReference"
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Exec_dvOperation_Identity1",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "cWebActivity - CCM - dvOperationIdentity1",
												"type": "PipelineReference"
											},
											"waitOnCompletion": false,
											"parameters": {
												"body": {
													"value": "@json(concat('{\"Targets\":', string(take(skip(variables('targets'), mul(pipeline().parameters.perRequest, item())), pipeline().parameters.perRequest)), '}'))",
													"type": "Expression"
												},
												"dataverseBaseUrl": {
													"value": "@pipeline().parameters.dataverseBaseUrl",
													"type": "Expression"
												},
												"entitySetName": {
													"value": "@pipeline().parameters.entitySetName",
													"type": "Expression"
												},
												"MSCRMBypassBusinessLogicExecution": {
													"value": "@pipeline().parameters.MSCRM_BypassBusinessLogicExecution",
													"type": "Expression"
												},
												"MSCRMSuppressCallbackRegistrationExpanderJob": {
													"value": "@pipeline().parameters.MSCRM_SuppressCallbackRegistrationExpanderJob",
													"type": "Expression"
												},
												"dvOperation": {
													"value": "@pipeline().parameters.dvOperation",
													"type": "Expression"
												},
												"claimRunId": {
													"value": "@variables('claimRunId')",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Success_FinalizeAccountStagingForClaim_Id1",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Exec_dvOperation_Identity1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim @ClaimRunId=''', variables('claimRunId'), ''', @NewStatus=''Success'';')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_LegacyContact_SQL",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Fail_FinalizeAccountStagingForClaim_Id1",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Exec_dvOperation_Identity1",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('EXEC dbo.usp_FinalizeAccountStagingForClaim @ClaimRunId=''', variables('claimRunId'), ''', @NewStatus=''Failed'';')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "DS_LegacyContact_SQL",
												"type": "DatasetReference"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"dataverseBaseUrl": {
				"type": "String",
				"defaultValue": "https://dataversedoctor.crm.dynamics.com"
			},
			"entitySetName": {
				"type": "String",
				"defaultValue": "accounts"
			},
			"batchSize": {
				"type": "Int",
				"defaultValue": 5000
			},
			"perRequest": {
				"type": "Int",
				"defaultValue": 1000
			},
			"dvOperation": {
				"type": "string",
				"defaultValue": "Microsoft.Dynamics.CRM.CreateMultiple"
			},
			"identityList": {
				"type": "array",
				"defaultValue": [
					"DataverseDoctor_jowells_Identity1",
					"DataverseDoctor_jowells_Identity1",
					"DataverseDoctor_jowells_Identity1"
				]
			},
			"MSCRM_BypassBusinessLogicExecution": {
				"type": "string",
				"defaultValue": "CustomSync, CustomAsync"
			},
			"MSCRM_SuppressCallbackRegistrationExpanderJob": {
				"type": "string",
				"defaultValue": "true"
			}
		},
		"variables": {
			"claimRunId": {
				"type": "String"
			},
			"targets": {
				"type": "Array"
			},
			"OData-MaxVersion": {
				"type": "String"
			},
			"OData-Version": {
				"type": "String"
			},
			"Accept": {
				"type": "String"
			},
			"Content-Type": {
				"type": "String"
			},
			"MSCRM_BypassBusinessLogicExecution": {
				"type": "String"
			},
			"MSCRM_SuppressCallbackRegistrationExpanderJob": {
				"type": "String"
			}
		},
		"annotations": [
			"Claims 500 pending rows, builds Targets JSON, posts to Dataverse CreateMultiple in 100-row chunks, finalizes status."
		],
		"lastPublishTime": "2025-08-22T18:26:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}