EnterpriseDataMigrationwAzureDataFactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "enterprisedatamigrationwazuredatafactory"
		},
		"CommunitySummit_jowells_AppUser_1_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'CommunitySummit_jowells_AppUser_1'"
		},
		"CommunitySummit_jowells_AppUser_2_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'CommunitySummit_jowells_AppUser_2'"
		},
		"CommunitySummit_jowells_AppUser_3_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'CommunitySummit_jowells_AppUser_3'"
		},
		"CommunitySummit_jowells_AppUser_4_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'CommunitySummit_jowells_AppUser_4'"
		},
		"CommunitySummit_jowells_AppUser_5_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'CommunitySummit_jowells_AppUser_5'"
		},
		"DataverseDoctor_jowells_ADF_CopyDataLog_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DataverseDoctor_jowells_ADF_CopyDataLog'"
		},
		"LegacyContactCenterSQL_servicePrincipalCredential": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalCredential' of 'LegacyContactCenterSQL'"
		},
		"CommunitySummit_jowells_AppUser_1_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "5d409776-54ee-478f-9af1-c2a8e0294e6d"
		},
		"CommunitySummit_jowells_AppUser_2_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "077be3d5-e98f-4748-a1cb-eed9ddad438e"
		},
		"CommunitySummit_jowells_AppUser_3_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "51221a90-723d-4647-9dd1-b606b98b7d7a"
		},
		"CommunitySummit_jowells_AppUser_4_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "6b2a0e69-b344-4cfc-b4bf-9fd9c2496675"
		},
		"CommunitySummit_jowells_AppUser_5_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "d5297845-a10a-470b-9ddc-847a19084029"
		},
		"DataverseDoctor_AppUser1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dataversedoctor.crm.dynamics.com/api/data/v9.2"
		},
		"DataverseDoctor_AppUser1_properties_typeProperties_aadResourceId": {
			"type": "string",
			"defaultValue": "https://dataversedoctor.crm.dynamics.com"
		},
		"LegacyContactCenterSQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "legacycontactcenter.database.windows.net"
		},
		"LegacyContactCenterSQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "contactcenterdb"
		},
		"LegacyContactCenterSQL_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "bd9a866f-d38c-4234-b04c-f62003451430"
		},
		"LegacyContactCenterSQL_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "979fd422-22c4-4a36-bea6-1cf87b6502dd"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyData - Contact Center Migration_v1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_TotalCount_Pending",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT COUNT(*) AS totalCount FROM dbo.AccountStaging WHERE Status = 'Pending';",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_LegacyContact_SQL",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Set_totalCount",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup_TotalCount_Pending",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "totalCount",
							"value": {
								"value": "@int(activity('Lookup_TotalCount_Pending').output.firstRow.totalCount)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set_RemainingCount_int",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set_totalCount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "remainingCount",
							"value": {
								"value": "@variables('totalCount')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Until_AllClaimedAndProcessed_0",
						"description": "",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set_RemainingCount_int",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@lessOrEquals(variables('remainingCount'), sub(variables('totalCount'), pipeline().parameters.recordsToProcess))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set_ClaimRunId_0",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "claimRunId_0",
										"value": {
											"value": "@guid()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "sp_ClaimAccountStagingBatch_0",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set_ClaimRunId_0",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('EXEC dbo.sp_ClaimStagingBatchDynamic @TableName = ' ,string(pipeline().parameters.sourceStagingTableName), ', @PrimaryKeyColumn = ', string(pipeline().parameters.sourcePrimaryKeyColumn) ,', @BatchSize = ', string(pipeline().parameters.recordsToProcess), ', @ClaimRunId = ''', variables('claimRunId_0'), ''';')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "Get_RemainingCount_Pending_0",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Success_FinalizeAccountStagingForClaim_0",
											"dependencyConditions": [
												"Succeeded",
												"Skipped"
											]
										},
										{
											"activity": "Fail_FinalizeAccountStagingForClaim_0",
											"dependencyConditions": [
												"Skipped",
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": "SELECT COUNT(*) AS remainingCount FROM dbo.AccountStaging WHERE Status = 'Pending';",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "Set_RemainingCount_0_Success",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get_RemainingCount_Pending_0",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "remainingCount",
										"value": {
											"value": "@int(activity('Get_RemainingCount_Pending_0').output.firstRow.remainingCount)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "CopyData_SQL_to_Dataverse_0",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "sp_ClaimAccountStagingBatch_0",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n    'EXEC dbo.usp_GetAccountTargetsForClaimNonJson @ClaimRunId = ''',\n    variables('claimRunId_0'),\n    ''', @TopRows = ',\n    string(pipeline().parameters.recordsToProcess),\n    ';'\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None",
											"connectVia": {
												"referenceName": "integrationRuntime-LG",
												"type": "IntegrationRuntimeReference"
											}
										},
										"sink": {
											"type": "CommonDataServiceForAppsSink",
											"writeBatchSize": {
												"value": "@pipeline().parameters.batchSize",
												"type": "Expression"
											},
											"writeBehavior": "upsert",
											"ignoreNullValues": false,
											"maxConcurrentConnections": {
												"value": "@pipeline().parameters.maxCopyCurrentConnections",
												"type": "Expression"
											},
											"bypassBusinessLogicExecution": {
												"value": "@pipeline().parameters.MSCRM_BypassBusinessLogicExecution",
												"type": "Expression"
											},
											"bypassPowerAutomateFlows": {
												"value": "@pipeline().parameters.MSCRM_SuppressCallbackRegistrationExpanderJob",
												"type": "Expression"
											},
											"integrationRuntimeName": {
												"referenceName": "integrationRuntime-LG",
												"type": "IntegrationRuntimeReference"
											}
										},
										"enableStaging": false,
										"parallelCopies": {
											"value": "@pipeline().parameters.copyParallelism",
											"type": "Expression"
										},
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Info",
												"enableReliableLogging": false
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "DataverseDoctor_jowells_ADF_CopyDataLog",
													"type": "LinkedServiceReference"
												}
											}
										},
										"dataIntegrationUnits": 32,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "AccountId",
														"type": "Guid",
														"physicalType": "uniqueidentifier"
													},
													"sink": {
														"name": "accountid",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "AccountNumber",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "accountnumber",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Address1_City",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "address1_city",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Address1_PostCode",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "address1_postalcode",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Address1_State",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "address1_stateorprovince",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EmailAddress1",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "emailaddress1",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Name",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "name",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "new_SourceId"
													},
													"sink": {
														"name": "new_sourceid",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CreatedOn",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "overriddencreatedon",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "OwnerId",
														"type": "Guid",
														"physicalType": "uniqueidentifier"
													},
													"sink": {
														"name": "owninguser",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "ownerid@EntityReference",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "owneridtype",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Telephone1",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "telephone1",
														"type": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DV_Account_App1",
											"type": "DatasetReference",
											"parameters": {
												"EntityLogicalName": {
													"value": "@pipeline().parameters.entitySetName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Success_FinalizeAccountStagingForClaim_0",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "CopyData_SQL_to_Dataverse_0",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('EXEC dbo.sp_FinalizeStagingForClaim @TableName = ', string(pipeline().parameters.sourceStagingTableName) , ', @ClaimRunId=''', variables('claimRunId_0'), ''', @NewStatus=''Success'';')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Fail_FinalizeAccountStagingForClaim_0",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "CopyData_SQL_to_Dataverse_0",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('EXEC dbo.sp_FinalizeStagingForClaim @TableName = ', string(pipeline().parameters.sourceStagingTableName) , ', @ClaimRunId=''', variables('claimRunId_0'), ''', @NewStatus=''Failed'';')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							],
							"timeout": "0.01:00:00"
						}
					},
					{
						"name": "Until_AllClaimedAndProcessed_1",
						"description": "",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set_RemainingCount_int",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@lessOrEquals(variables('remainingCount'), sub(variables('totalCount'), pipeline().parameters.recordsToProcess))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set_ClaimRunId_1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "claimRunId_1",
										"value": {
											"value": "@guid()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "sp_ClaimAccountStagingBatch_1",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set_ClaimRunId_1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('EXEC dbo.sp_ClaimStagingBatchDynamic @TableName = ' ,string(pipeline().parameters.sourceStagingTableName), ', @PrimaryKeyColumn = ', string(pipeline().parameters.sourcePrimaryKeyColumn) ,', @BatchSize = ', string(pipeline().parameters.recordsToProcess), ', @ClaimRunId = ''', variables('claimRunId_1'), ''';')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "Get_RemainingCount_Pending_1",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Success_FinalizeAccountStagingForClaim_1",
											"dependencyConditions": [
												"Succeeded",
												"Skipped"
											]
										},
										{
											"activity": "Fail_FinalizeAccountStagingForClaim_1",
											"dependencyConditions": [
												"Skipped",
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": "SELECT COUNT(*) AS remainingCount FROM dbo.AccountStaging WHERE Status = 'Pending';",
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "Set_RemainingCount_1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get_RemainingCount_Pending_1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "remainingCount",
										"value": {
											"value": "@int(activity('Get_RemainingCount_Pending_1').output.firstRow.remainingCount)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "CopyData_SQL_to_Dataverse_1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "sp_ClaimAccountStagingBatch_1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n    'EXEC dbo.usp_GetAccountTargetsForClaimNonJson @ClaimRunId = ''',\n    variables('claimRunId_1'),\n    ''', @TopRows = ',\n    string(pipeline().parameters.recordsToProcess),\n    ';'\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None",
											"integrationRuntimeName": {
												"referenceName": "integrationRuntime-LG",
												"type": "IntegrationRuntimeReference"
											}
										},
										"sink": {
											"type": "CommonDataServiceForAppsSink",
											"writeBatchSize": {
												"value": "@pipeline().parameters.batchSize",
												"type": "Expression"
											},
											"writeBehavior": "upsert",
											"ignoreNullValues": false,
											"maxConcurrentConnections": {
												"value": "@pipeline().parameters.maxCopyCurrentConnections",
												"type": "Expression"
											},
											"bypassBusinessLogicExecution": {
												"value": "@pipeline().parameters.MSCRM_BypassBusinessLogicExecution",
												"type": "Expression"
											},
											"bypassPowerAutomateFlows": {
												"value": "@pipeline().parameters.MSCRM_SuppressCallbackRegistrationExpanderJob",
												"type": "Expression"
											},
											"integrationRuntimeName": {
												"referenceName": "integrationRuntime-LG",
												"type": "IntegrationRuntimeReference"
											}
										},
										"enableStaging": false,
										"parallelCopies": {
											"value": "@pipeline().parameters.copyParallelism",
											"type": "Expression"
										},
										"dataIntegrationUnits": {
											"value": "@pipeline().parameters.maxDIU",
											"type": "Expression"
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "AccountId",
														"type": "Guid",
														"physicalType": "uniqueidentifier"
													},
													"sink": {
														"name": "accountid",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "AccountNumber",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "accountnumber",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Address1_City",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "address1_city",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Address1_PostCode",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "address1_postalcode",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Address1_State",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "address1_stateorprovince",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EmailAddress1",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "emailaddress1",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Name",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "name",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "new_SourceId"
													},
													"sink": {
														"name": "new_sourceid",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CreatedOn",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "overriddencreatedon",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "OwnerId",
														"type": "Guid",
														"physicalType": "uniqueidentifier"
													},
													"sink": {
														"name": "owninguser",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "ownerid@EntityReference",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "owneridtype",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Telephone1",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "telephone1",
														"type": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DV_Account_App2",
											"type": "DatasetReference",
											"parameters": {
												"EntityLogicalName": {
													"value": "@pipeline().parameters.entitySetName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Fail_FinalizeAccountStagingForClaim_1",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "CopyData_SQL_to_Dataverse_1",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('EXEC dbo.sp_FinalizeStagingForClaim @TableName = ', string(pipeline().parameters.sourceStagingTableName) , ', @ClaimRunId=''', variables('claimRunId_1'), ''', @NewStatus=''Failed'';')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Success_FinalizeAccountStagingForClaim_1",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "CopyData_SQL_to_Dataverse_1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('EXEC dbo.sp_FinalizeStagingForClaim @TableName = ', string(pipeline().parameters.sourceStagingTableName) , ', @ClaimRunId=''', variables('claimRunId_1'), ''', @NewStatus=''Success'';')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							],
							"timeout": "0.01:00:00"
						}
					},
					{
						"name": "Until_AllClaimedAndProcessed_2",
						"description": "",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set_RemainingCount_int",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@lessOrEquals(variables('remainingCount'), sub(variables('totalCount'), pipeline().parameters.recordsToProcess))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set_ClaimRunId_2",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "claimRunId_2",
										"value": {
											"value": "@guid()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "sp_ClaimAccountStagingBatch_2",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set_ClaimRunId_2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('EXEC dbo.sp_ClaimStagingBatchDynamic @TableName = ' ,string(pipeline().parameters.sourceStagingTableName), ', @PrimaryKeyColumn = ', string(pipeline().parameters.sourcePrimaryKeyColumn) ,', @BatchSize = ', string(pipeline().parameters.recordsToProcess), ', @ClaimRunId = ''', variables('claimRunId_2'), ''';')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "Get_RemainingCount_Pending_2",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Success_FinalizeAccountStagingForClaim_2",
											"dependencyConditions": [
												"Succeeded",
												"Skipped"
											]
										},
										{
											"activity": "Fail_FinalizeAccountStagingForClaim_2",
											"dependencyConditions": [
												"Succeeded",
												"Skipped"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": "SELECT COUNT(*) AS remainingCount FROM dbo.AccountStaging WHERE Status = 'Pending';",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "Set_RemainingCount_2",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get_RemainingCount_Pending_2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "remainingCount",
										"value": {
											"value": "@int(activity('Get_RemainingCount_Pending_2').output.firstRow.remainingCount)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "CopyData_SQL_to_Dataverse_2",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "sp_ClaimAccountStagingBatch_2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n    'EXEC dbo.usp_GetAccountTargetsForClaimNonJson @ClaimRunId = ''',\n    variables('claimRunId_2'),\n    ''', @TopRows = ',\n    string(pipeline().parameters.batchSize),\n    ';'\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None",
											"integrationRuntimeName": {
												"referenceName": "integrationRuntime-LG",
												"type": "IntegrationRuntimeReference"
											}
										},
										"sink": {
											"type": "CommonDataServiceForAppsSink",
											"writeBatchSize": {
												"value": "@pipeline().parameters.batchSize",
												"type": "Expression"
											},
											"writeBehavior": "upsert",
											"ignoreNullValues": false,
											"maxConcurrentConnections": {
												"value": "@pipeline().parameters.maxCopyCurrentConnections",
												"type": "Expression"
											},
											"bypassBusinessLogicExecution": {
												"value": "@pipeline().parameters.MSCRM_BypassBusinessLogicExecution",
												"type": "Expression"
											},
											"bypassPowerAutomateFlows": {
												"value": "@pipeline().parameters.MSCRM_SuppressCallbackRegistrationExpanderJob",
												"type": "Expression"
											},
											"integrationRuntimeName": {
												"referenceName": "integrationRuntime-LG",
												"type": "IntegrationRuntimeReference"
											}
										},
										"enableStaging": false,
										"parallelCopies": {
											"value": "@pipeline().parameters.copyParallelism",
											"type": "Expression"
										},
										"dataIntegrationUnits": {
											"value": "@pipeline().parameters.maxDIU",
											"type": "Expression"
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "AccountId",
														"type": "Guid",
														"physicalType": "uniqueidentifier"
													},
													"sink": {
														"name": "accountid",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "AccountNumber",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "accountnumber",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Address1_City",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "address1_city",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Address1_PostCode",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "address1_postalcode",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Address1_State",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "address1_stateorprovince",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EmailAddress1",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "emailaddress1",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Name",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "name",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "new_SourceId"
													},
													"sink": {
														"name": "new_sourceid",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CreatedOn",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "overriddencreatedon",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "OwnerId",
														"type": "Guid",
														"physicalType": "uniqueidentifier"
													},
													"sink": {
														"name": "owninguser",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "ownerid@EntityReference",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "owneridtype",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Telephone1",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "telephone1",
														"type": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DV_Account_App3",
											"type": "DatasetReference",
											"parameters": {
												"EntityLogicalName": {
													"value": "@pipeline().parameters.entitySetName",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Fail_FinalizeAccountStagingForClaim_2",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "CopyData_SQL_to_Dataverse_2",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('EXEC dbo.sp_FinalizeStagingForClaim @TableName = ', string(pipeline().parameters.sourceStagingTableName) , ', @ClaimRunId=''', variables('claimRunId_2'), ''', @NewStatus=''Failed'';')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Success_FinalizeAccountStagingForClaim_2",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "CopyData_SQL_to_Dataverse_2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('EXEC dbo.sp_FinalizeStagingForClaim @TableName = ', string(pipeline().parameters.sourceStagingTableName) , ', @ClaimRunId=''', variables('claimRunId_2'), ''', @NewStatus=''Success'';')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							],
							"timeout": "0.01:00:00"
						}
					},
					{
						"name": "Until_AllClaimedAndProcessed_3",
						"description": "",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set_RemainingCount_int",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@lessOrEquals(variables('remainingCount'), sub(variables('totalCount'), pipeline().parameters.recordsToProcess))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set_ClaimRunId_3",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "claimRunId_2",
										"value": {
											"value": "@guid()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "sp_ClaimAccountStagingBatch_3",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Set_ClaimRunId_3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('EXEC dbo.sp_ClaimStagingBatchDynamic @TableName = ' ,string(pipeline().parameters.sourceStagingTableName), ', @PrimaryKeyColumn = ', string(pipeline().parameters.sourcePrimaryKeyColumn) ,', @BatchSize = ', string(pipeline().parameters.recordsToProcess), ', @ClaimRunId = ''', variables('claimRunId_2'), ''';')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": false
									}
								},
								{
									"name": "Get_RemainingCount_Pending_3",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Success_FinalizeAccountStagingForClaim_3",
											"dependencyConditions": [
												"Succeeded",
												"Skipped"
											]
										},
										{
											"activity": "Fail_FinalizeAccountStagingForClaim_3",
											"dependencyConditions": [
												"Succeeded",
												"Skipped"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": "SELECT COUNT(*) AS remainingCount FROM dbo.AccountStaging WHERE Status = 'Pending';",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "Set_RemainingCount_3",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get_RemainingCount_Pending_3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "remainingCount",
										"value": {
											"value": "@int(activity('Get_RemainingCount_Pending_3').output.firstRow.remainingCount)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "CopyData_SQL_to_Dataverse_3",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "sp_ClaimAccountStagingBatch_3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n    'EXEC dbo.usp_GetAccountTargetsForClaimNonJson @ClaimRunId = ''',\n    variables('claimRunId_2'),\n    ''', @TopRows = ',\n    string(pipeline().parameters.batchSize),\n    ';'\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None",
											"integrationRuntimeName": {
												"referenceName": "integrationRuntime-LG",
												"type": "IntegrationRuntimeReference"
											}
										},
										"sink": {
											"type": "CommonDataServiceForAppsSink",
											"writeBatchSize": {
												"value": "@pipeline().parameters.batchSize",
												"type": "Expression"
											},
											"writeBehavior": "upsert",
											"ignoreNullValues": false,
											"maxConcurrentConnections": {
												"value": "@pipeline().parameters.maxCopyCurrentConnections",
												"type": "Expression"
											},
											"bypassBusinessLogicExecution": {
												"value": "@pipeline().parameters.MSCRM_BypassBusinessLogicExecution",
												"type": "Expression"
											},
											"bypassPowerAutomateFlows": {
												"value": "@pipeline().parameters.MSCRM_SuppressCallbackRegistrationExpanderJob",
												"type": "Expression"
											},
											"integrationRuntimeName": {
												"referenceName": "integrationRuntime-LG",
												"type": "IntegrationRuntimeReference"
											}
										},
										"enableStaging": false,
										"parallelCopies": {
											"value": "@pipeline().parameters.copyParallelism",
											"type": "Expression"
										},
										"dataIntegrationUnits": {
											"value": "@pipeline().parameters.maxDIU",
											"type": "Expression"
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "AccountId",
														"type": "Guid",
														"physicalType": "uniqueidentifier"
													},
													"sink": {
														"name": "accountid",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "AccountNumber",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "accountnumber",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Address1_City",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "address1_city",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Address1_PostCode",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "address1_postalcode",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Address1_State",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "address1_stateorprovince",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "EmailAddress1",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "emailaddress1",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Name",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "name",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "new_SourceId"
													},
													"sink": {
														"name": "new_sourceid",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "CreatedOn",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "overriddencreatedon",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"name": "OwnerId",
														"type": "Guid",
														"physicalType": "uniqueidentifier"
													},
													"sink": {
														"name": "owninguser",
														"type": "Guid"
													}
												},
												{
													"source": {
														"name": "ownerid@EntityReference",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "owneridtype",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "Telephone1",
														"type": "String",
														"physicalType": "nvarchar"
													},
													"sink": {
														"name": "telephone1",
														"type": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_DV_Account_App4",
											"type": "DatasetReference",
											"parameters": {
												"EntityLogicalName": "@pipeline().parameters.entitySetName"
											}
										}
									]
								},
								{
									"name": "Fail_FinalizeAccountStagingForClaim_3",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "CopyData_SQL_to_Dataverse_3",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('EXEC dbo.sp_FinalizeStagingForClaim @TableName = ', string(pipeline().parameters.sourceStagingTableName) , ', @ClaimRunId=''', variables('claimRunId_2'), ''', @NewStatus=''Failed'';')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Success_FinalizeAccountStagingForClaim_3",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "CopyData_SQL_to_Dataverse_3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('EXEC dbo.sp_FinalizeStagingForClaim @TableName = ', string(pipeline().parameters.sourceStagingTableName) , ', @ClaimRunId=''', variables('claimRunId_2'), ''', @NewStatus=''Success'';')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"isolationLevel": "ReadCommitted",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_LegacyContact_SQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							],
							"timeout": "0.01:00:00"
						}
					}
				],
				"concurrency": 10,
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"dataverseBaseUrl": {
						"type": "String",
						"defaultValue": "https://dataversedoctor.crm.dynamics.com"
					},
					"entitySetName": {
						"type": "String",
						"defaultValue": "account"
					},
					"recordsToProcess": {
						"type": "Int",
						"defaultValue": 100000
					},
					"batchSize": {
						"type": "Int",
						"defaultValue": 5
					},
					"MSCRM_BypassBusinessLogicExecution": {
						"type": "string",
						"defaultValue": "CustomSync, CustomAsync"
					},
					"MSCRM_SuppressCallbackRegistrationExpanderJob": {
						"type": "bool",
						"defaultValue": true
					},
					"maxDIU": {
						"type": "int",
						"defaultValue": 32
					},
					"copyParallelism": {
						"type": "int",
						"defaultValue": 50
					},
					"maxCopyCurrentConnections": {
						"type": "int",
						"defaultValue": 50
					},
					"processBatch": {
						"type": "int",
						"defaultValue": 10000
					},
					"sourcePrimaryKeyColumn": {
						"type": "string",
						"defaultValue": "AccountId"
					},
					"sourceStagingTableName": {
						"type": "string",
						"defaultValue": "AccountStaging"
					}
				},
				"variables": {
					"claimRunId_0": {
						"type": "String"
					},
					"targets": {
						"type": "Array"
					},
					"totalCount": {
						"type": "Integer"
					},
					"remainingCount": {
						"type": "Integer"
					},
					"MSCRM_BypassBusinessLogicExecution": {
						"type": "String"
					},
					"MSCRM_SuppressCallbackRegistrationExpanderJob": {
						"type": "String"
					},
					"lastClaimedCount": {
						"type": "Integer"
					},
					"claimRunId_1": {
						"type": "String"
					},
					"claimRunId_2": {
						"type": "String"
					}
				},
				"annotations": [
					"Claims 500 pending rows, builds Targets JSON, posts to Dataverse CreateMultiple in 100-row chunks, finalizes status."
				],
				"lastPublishTime": "2025-08-22T20:18:10Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_LegacyContact_SQL')]",
				"[concat(variables('factoryId'), '/datasets/DS_DV_Account_App1')]",
				"[concat(variables('factoryId'), '/datasets/DS_DV_Account_App2')]",
				"[concat(variables('factoryId'), '/datasets/DS_DV_Account_App3')]",
				"[concat(variables('factoryId'), '/datasets/DS_DV_Account_App4')]",
				"[concat(variables('factoryId'), '/linkedServices/DataverseDoctor_jowells_ADF_CopyDataLog')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DV_Account_App1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CommunitySummit_jowells_AppUser_1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"EntityLogicalName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": {
						"value": "@dataset().EntityLogicalName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CommunitySummit_jowells_AppUser_1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DV_Account_App2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CommunitySummit_jowells_AppUser_2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"EntityLogicalName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": {
						"value": "@dataset().EntityLogicalName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CommunitySummit_jowells_AppUser_2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DV_Account_App3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CommunitySummit_jowells_AppUser_3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"EntityLogicalName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": {
						"value": "@dataset().EntityLogicalName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CommunitySummit_jowells_AppUser_3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DV_Account_App4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CommunitySummit_jowells_AppUser_4",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"EntityLogicalName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": {
						"value": "@dataset().EntityLogicalName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CommunitySummit_jowells_AppUser_4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DV_Account_App5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CommunitySummit_jowells_AppUser_5",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"EntityLogicalName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "CommonDataServiceForAppsEntity",
				"schema": [],
				"typeProperties": {
					"entityName": {
						"value": "@dataset().EntityLogicalName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/CommunitySummit_jowells_AppUser_5')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_LegacyContact_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LegacyContactCenterSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LegacyContactCenterSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Account')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LegacyContactCenterSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountId",
						"type": "uniqueidentifier"
					},
					{
						"name": "Name",
						"type": "nvarchar"
					},
					{
						"name": "AccountNumber",
						"type": "nvarchar"
					},
					{
						"name": "PrimaryContactId",
						"type": "uniqueidentifier"
					},
					{
						"name": "Telephone1",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress1",
						"type": "nvarchar"
					},
					{
						"name": "Address1_City",
						"type": "nvarchar"
					},
					{
						"name": "Address1_State",
						"type": "nvarchar"
					},
					{
						"name": "Address1_PostCode",
						"type": "nvarchar"
					},
					{
						"name": "CreatedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ModifiedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "OwnerId",
						"type": "uniqueidentifier"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Account"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LegacyContactCenterSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_AccountStaging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LegacyContactCenterSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AccountId",
						"type": "uniqueidentifier"
					},
					{
						"name": "PartitionId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SequenceNumber",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "LastProcessedOn",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "AccountStaging"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LegacyContactCenterSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/REST_DataverseDoctor_App1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataverseDoctor_AppUser1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "https://dataversedoctor.crm.dynamics.com"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DataverseDoctor_AppUser1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CommunitySummit_jowells_AppUser_1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CommonDataServiceForApps",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://dataversedoctor.crm.dynamics.com",
					"authenticationType": "AADServicePrincipal",
					"servicePrincipalId": "[parameters('CommunitySummit_jowells_AppUser_1_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('CommunitySummit_jowells_AppUser_1_servicePrincipalCredential')]"
					},
					"servicePrincipalCredentialType": "ServicePrincipalKey"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-LG",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime-LG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CommunitySummit_jowells_AppUser_2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CommonDataServiceForApps",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://dataversedoctor.crm.dynamics.com",
					"authenticationType": "AADServicePrincipal",
					"servicePrincipalId": "[parameters('CommunitySummit_jowells_AppUser_2_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('CommunitySummit_jowells_AppUser_2_servicePrincipalCredential')]"
					},
					"servicePrincipalCredentialType": "ServicePrincipalKey"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-LG",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime-LG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CommunitySummit_jowells_AppUser_3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CommonDataServiceForApps",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://dataversedoctor.crm.dynamics.com",
					"authenticationType": "AADServicePrincipal",
					"servicePrincipalId": "[parameters('CommunitySummit_jowells_AppUser_3_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('CommunitySummit_jowells_AppUser_3_servicePrincipalCredential')]"
					},
					"servicePrincipalCredentialType": "ServicePrincipalKey"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-LG",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime-LG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CommunitySummit_jowells_AppUser_4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CommonDataServiceForApps",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://dataversedoctor.crm.dynamics.com",
					"authenticationType": "AADServicePrincipal",
					"servicePrincipalId": "[parameters('CommunitySummit_jowells_AppUser_4_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('CommunitySummit_jowells_AppUser_4_servicePrincipalCredential')]"
					},
					"servicePrincipalCredentialType": "ServicePrincipalKey"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-LG",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime-LG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CommunitySummit_jowells_AppUser_5')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CommonDataServiceForApps",
				"typeProperties": {
					"deploymentType": "Online",
					"serviceUri": "https://dataversedoctor.crm.dynamics.com",
					"authenticationType": "AADServicePrincipal",
					"servicePrincipalId": "[parameters('CommunitySummit_jowells_AppUser_5_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('CommunitySummit_jowells_AppUser_5_servicePrincipalCredential')]"
					},
					"servicePrincipalCredentialType": "ServicePrincipalKey"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-LG",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime-LG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataverseDoctor_AppUser1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('DataverseDoctor_AppUser1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "ManagedServiceIdentity",
					"aadResourceId": "[parameters('DataverseDoctor_AppUser1_properties_typeProperties_aadResourceId')]",
					"credential": {
						"referenceName": "DataverseDoctor_jowells_Identity1",
						"type": "CredentialReference"
					}
				},
				"connectVia": {
					"referenceName": "integrationRuntime-LG",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime-LG')]",
				"[concat(variables('factoryId'), '/credentials/DataverseDoctor_jowells_Identity1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataverseDoctor_jowells_ADF_CopyDataLog')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('DataverseDoctor_jowells_ADF_CopyDataLog_connectionString')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-LG",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime-LG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LegacyContactCenterSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LegacyContactCenterSQL_properties_typeProperties_server')]",
					"database": "[parameters('LegacyContactCenterSQL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "ServicePrincipal",
					"servicePrincipalId": "[parameters('LegacyContactCenterSQL_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalCredential": {
						"type": "SecureString",
						"value": "[parameters('LegacyContactCenterSQL_servicePrincipalCredential')]"
					},
					"tenant": "[parameters('LegacyContactCenterSQL_properties_typeProperties_tenant')]"
				},
				"connectVia": {
					"referenceName": "integrationRuntime-LG",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime-LG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime-LG')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 80,
							"timeToLive": 0,
							"cleanup": false,
							"customProperties": []
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataverseDoctor_jowells_Identity1')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/79def5f1-f626-479f-8db5-b1272680adc1/resourcegroups/CommunitySummit2025/providers/Microsoft.ManagedIdentity/userAssignedIdentities/DataverseDoctor_jowells_Identity1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataverseDoctor_jowells_Identity2')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/79def5f1-f626-479f-8db5-b1272680adc1/resourceGroups/CommunitySummit2025/providers/Microsoft.ManagedIdentity/userAssignedIdentities/DataverseDoctor_jowells_Identity2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DataverseDoctor_jowells_Identity3')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {
					"resourceId": "/subscriptions/79def5f1-f626-479f-8db5-b1272680adc1/resourceGroups/CommunitySummit2025/providers/Microsoft.ManagedIdentity/userAssignedIdentities/DataverseDoctor_jowells_Identity3"
				}
			},
			"dependsOn": []
		}
	]
}